<footer>
  <div [@animateFooter]>
    <ul class="footer-left-bar d-none d-md-block">
      <li placement="top" ngbTooltip="X (Twitter)">
        <a href="https://twitter.com/bhaveshp2777" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li placement="top" ngbTooltip="GitHub">
        <a href="https://github.com/bhavesh2777" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li placement="top" ngbTooltip="LinkedIn">
        <a href="https://www.linkedin.com/in/bhaveshp2777/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
    <div class="footer-right-bar d-none d-md-block">
      <a
        class="cursor-p"
        (click)="copyMessage('bhaveshp2777@gmail.com')"
        placement="top"
        ngbTooltip="Copy to Clipboard!"
        >bhaveshp2777@gmail.com
      </a>
    </div>
  </div>
</footer>
