<section class="section banner">
  <div [@bannerTrigger] class="container">
    <div class="section-box-banner">
      <div class="content">
        <div>
          <!-- <h1>Hola, mi nombre es</h1> -->
          <h1>{{ "Banner.Pretitle" | translate }}</h1>
        </div>
        <div class="banner-title">
          <h2>Bhavesh Panchal</h2>
          <h3>Full Stack Developer</h3>
        </div>
        <div class="banner-description">
          <p [innerHTML]="'Banner.Description' | translate" class="mt-4"></p>
        </div>
      </div>
      <div class="div-btn-banner">
        <div class="d-flex align-items-center">
          <div
            class="mr-3 d-flex align-items-center"
            (click)="copyMessage('bhaveshp2777@gmail.com')"
            placement="top"
            ngbTooltip="Copy to Clipboard!"
          >
            <a class="main-btn banner-clip-btn"
              >bhaveshp2777@gmail.com
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-clipboard"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"
                />
                <path
                  d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"
                />
              </svg>
            </a>
          </div>
          <a
            href="mailto:bhaveshp2777@gmail.com"
            target="_black"
            class="main-btn banner-clip-btn"
          >
            {{ "Banner.ActionBtn" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
